body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cat-list {
    width: 20%;
    height: 100%;
    float: left; 
}

.main-display {
    width: 60%;
    height: 100%;
    float: left;
}

.admin {
    width: 20%;
    height: 100%;
    float: right;
}

#admin-panel{
    display: none;    
}